@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --bg-color:#2A9D8F;
    --dark-blue:#264653;
    --sand-yellow:#E9C46A;
    --orange:#F4A261;
    --tomato-red:#E76F51;
    --font-family:'Roboto', sans-serif;
}
body{
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    height: 100vh;
}


.game-cotainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--dark-blue);
    
}
.btn{
    border: 0;
    outline: 0;
    font-size: 32px;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: var(--bg-color);
    color: var(--sand-yellow);
    font-weight: 600;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    -webkit-box-shadow: 3px 6px 58px -12px rgba(38, 70, 83, 1);
    -moz-box-shadow: 3px 6px 58px -12px rgb(22, 43, 51);
    box-shadow: 3px 6px 58px -12px rgb(20, 38, 46);
    cursor: pointer;
}
.btn:hover{
    background-color: #24b6a5;
}
.card-container{
    display: flex;
    gap: 10px;
    display: none;
}
.card{
    border-radius: 10px;
    height: 300px;
    width: 300px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    cursor: pointer;
}


.card img{
    min-height: 200px;
    width: 300px;
}
.card p{
    width: 100%;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #fff;
    transition:all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    
}
.card p:hover{
    background-color: #E76F51;
   
}

.output-container{
    height: 400px;
    display: none;
    text-align: center;
    flex-direction: column;
}

#weapon{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}